.home {
  width: 100%;
}

.home-one {
  height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "home-one-left home-one-right";
  background-color: #deeaf3;
}

.home-one-left {
  grid-area: home-one-left;
  height: inherit;
}

.img-9 {
  height: calc(100vh - 5rem);
}

.home-one-right {
  grid-area: home-one-right;
  display: flex;
  flex-direction: column;
  padding: 12rem 5rem;
  overflow: hidden;
}

.home-one-pill {
  background-color: white;
  width: 18rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  border-radius: 50px;
  color: #407697;
}

.home-one-title {
  font-weight: bold;
  font-size: 2.5rem;
  padding-right: 8rem;
}

.home-one-txt {
  padding-right: 8rem;
}

.home-two {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "home-two-left home-two-right";
}

.home-two-left {
  grid-area: home-two-left;
  display: flex;
  flex-direction: column;
  padding: 12rem 5rem;
  overflow: hidden;
}

.home-two-pill {
  background-color: #dfede6;
  width: 18rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  border-radius: 50px;
  color: #5c8873;
}

.home-two-right {
  grid-area: home-two-right;
  height: inherit;
  display: grid;
  place-content: center;
}

/* set this according to display sizes */
.steve {
  /* height: 75vh; */
  width: 30vw;
}

.home-two-title {
  font-weight: bold;
  font-size: 2.5rem;
  padding-right: 5rem;
}

.home-two-txt {
  padding-right: 5rem;
}

.home-three {
  height: 40vh;
  background-color: #dfede6;
  display: grid;
  place-content: center;
  align-content: center;
  text-align: center;
}

.home-three-pill {
  background-color: white;
  width: 18rem;
  height: 2.5rem;
  display: grid;
  place-content: center;
  border-radius: 50px;
  color: #2b634b;
  margin: 0px auto;
}

.home-three-title {
  font-weight: bold;
  font-size: 2.5rem;
}

.home-three-txt {
  width: 40vw;
  margin: 0rem auto;
}
