@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  font-family: "DM Sans";
}

.appbar {
  display: flex;
  width: 100%;
  height: 5rem;
  font-family: "DM Sans";
  justify-content: space-between;
}

.logo {
  display: flex;
  height: inherit;
  align-items: center;
}

.logo_img {
  height: 2.5rem;
  padding: 1rem;
}

.logo_txt {
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-links {
  margin: 1rem;
  text-decoration: none;
  list-style: none;
  color: black;
}

.contact {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact-link {
  text-decoration: none;
  list-style: none;
  color: black;
}

.contact-btn {
  background-color: #ececec;
  height: 2.5rem;
  width: 9rem;
  border-radius: 50px;
  display: grid;
  place-content: center;
  margin: 1rem;
}

@media (max-width: 480px) {
}
